ul.pagging li {
    display: inline;
}

ul.pagging li a {
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 0.3rem;
    color: black;
    margin: 0px 2px;
}

ul.pagging li:hover a{
    background: pink;
}

ul.pagging li.active a{
    background: rgb(4, 37, 249);
    color: white;
}